## 빌드 결과물 및 임시 파일
bin/
obj/
X64/
x86/
bld/
[Log]/
[Log]s/

## 비주얼 스튜디오 자동 생성 및 작업 파일
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

## 컴파일된 결과물 및 라이브러리
*.exe
*.dll
*.pdb
*.cache
*.spec

## 운영체제 임시 파일
Thumbs.db
ehthumbs.db
Desktop.ini
